* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

.card-section {
    padding-block: 100px;
    background-color: coral;
}

.container {
    max-width: 1280px;
    padding-inline: 20px;
    margin-inline: auto;
}

.card-sec {
    padding: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: white;
    flex: 0 0 calc((100% - 40px) / 3);
}


.main-class-sec {
    display: flex;
    gap: 30px 20px;
    flex-wrap: wrap;
    justify-content: center;
}

/* text-sec */
.img-sec {
    margin-bottom: 10px;
}

.img-sec img {
    height: 40px;
    width: 40px;
    aspect-ratio: 1/1;
}

.heading-sec {
    font-size: 22px;
    margin-bottom: 20px;
    flex-grow: 1;
}

.loremn-sec {
    line-height: 1.4;
    font-size: 16px;
}

@media (max-width:1023.99px) {
    .card-sec {
        flex: 0 0 calc((100% - 20px) / 2);
    }

    .card-section {
        padding-block: 38px;
    }

}

@media (max-width:767.99px) {
    .card-sec {
        flex: 0 0 calc((100% - 20px) / 2);
    }

    .card-section {
        padding-block: 30px;
    }

}

@media (max-width:575.99px) {
    .card-sec {
        flex: 1 0 calc((100% - 10px) / 1);
    }

    .card-section {
        padding-block: 28px;
    }

}