* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

.card-section {
    padding-block: 100px;
    background-color: coral;
}

.container {
    max-width: 1280px;
    padding-inline: 20px;
    margin-inline: auto;
}

.card-sec {
    background: white;
    height: 320px;
    flex: 0 0 calc((100% - 40px) / 3);
    padding-top: 20px;
}

.main-class-sec {
    display: flex;
    gap: 30px 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.column-sec {
    gap: 30px;
}

/* text-sec */
.img-sec img {

    height: 40px;
    width: 40px;
    aspect-ratio: 1/1;
}

.iner-sec {

    padding: 22px;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.heading-sec {

    padding-bottom: 20px;


    text-align: center;
}

.loremn-sec {
    line-height: 1.9;
    text-align: center;
    font-size: 16px;


}

@media (max-width:1023.99px) {
    .card-sec {


        height: 300px;

        flex: 0 0 calc((100% - 40px) / 2);
    }


}

@media (max-width:767.99px) {
    .card-sec {

        height: 248px;

        flex: 0 0 calc((100% - 40px) / 2);
    }


}

@media (max-width:575px) {
    .card-sec {


        height: 200px;

        flex: 0 0 calc((100% - 40px) / 1);
    }


}